<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.words"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignupActivity" >
        </activity>
        <activity android:name=".activity.HowToActivity" >
        </activity>
        <activity android:name=".activity.HomeActivity" >
        </activity>
        <activity android:name=".activity.GameActivity" >
        </activity>
        <activity android:name=".activity.NewGameActivity" >
        </activity>
        <activity android:name=".activity.PickOpponentActivity" >
        </activity>
        <activity android:name=".activity.SettingsActivity" >
        </activity>
        <activity android:name=".activity.FacebookFriendsActivity" >
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>